body {
  margin: 0;
  font-family: 'Noto Serif', serif;
  overflow: auto;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('./background.png') center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
}

.content {
  padding: 20px;
}

h1 {
  font-size: 4em;
  margin-bottom: 10px;
  color: #000;
}

p {
  font-size: 2em;
  margin-top: 0;
  color: #000;
}

.animated-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border: 10px solid #fff;
  max-width: 100%;
  height: auto;
}

.animated-image.visible {
  opacity: 1;
}

.image-gallery-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.image-gallery-frame {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  overflow: auto;
  max-height: 80vh;
}

.image-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-gallery img {
  width: 380px; /* 画像サイズを380pxに固定 */
  height: auto;
  margin-bottom: 20px;
  border: 30px solid #fff;
}

.image-gallery img.visible {
  opacity: 1;
}
